label {
  color: orange;
}
.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 300px;
  border: 3px solid orange;
  background-color: #86a8e7;
}
.app .app__header {
  text-align: center;
}
.app .app__form-button {
  background-color: orange;
  border: 2px solid #86a8e7;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
.app .app__form-button:hover {
  background-color: orange;
  color: #86a8e7;
  border: 2px solid orange;
}
.app__form-input {
  border: 1.5px solid orange;
  background-color: orange;
  color: white;
}
.app ul li {
  width: 85%;
  border: 1.5px solid orange;
  list-style-type: none;
}
.app ul li button {
  background-color: orange;
  border: 2px solid #86a8e7;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
.app ul li .app__ul-li-delete:hover {
  background-color: orange;
  color: red;
  border: 2px solid orange;
}
.app ul li .app__ul-li-done:hover {
  background-color: orange;
  color: greenyellow;
  border: 2px solid orange;
}
.app ul li .app__ul-li-span {
  color: white;
}
.app ul li .done {
  color: greenyellow;
  text-decoration: line-through;
}
